{% extends 'layouts/base.html.twig' %}

{% block title %}Kine Dieppe - Traumatologie{% endblock %}

{% block body %}
    <section id="features" class="features">
        <div class="container" data-aos="fade-up">

            <div class="row">
                <div class="col-lg-8 order-2 order-lg-1" data-aos="fade-right">
                    <h1>Traumatologie à Rouen</h1>
                    <h2>Soin d'entorse, luxation, tendinite, lésions musculaires…</h2>
                    <h3>Qu’est-ce que la traumatologie ?</h3>
                    <p>
                        <strong>
                            La traumatologie est une spécialité médicale consacrée aux traumatismes physiques, c’est-à-dire aux coups, blessures ou chocs subis de façon violente et soudaine.
                        </strong>
                    </p>
                    <p>
                        La traumatologie est rattachée à la chirurgie orthopédique et la chirurgie traumatologique, puisque les blessures graves relèvent de la chirurgie. Elle peut aussi relever de la médecine d’urgence, car bon nombre de traumatisés entrent à l’hôpital par cette voie.
                        Chaque année en France, plus de 6 millions de personnes sont prises en charge par les chirurgiens orthopédistes et traumatologues.
                    </p>
                    <p class="fst-italic">
                        NB : Les blessures sont évidemment très variées et peuvent concerner toutes les parties du corps.
                    </p>
                    <ul>
                        <li><i class="bi bi-check-circle"></i>Parmi les blessures les plus fréquentes, celles liées au sport sont responsables d’environ 2 millions d’entrées aux urgences en France chaque année.</li>
                        <li><i class="bi bi-check-circle"></i>Les accidents de voiture sont également de gros pourvoyeurs de blessés graves, tout comme les accidents domestiques ou professionnels.</li>
                        <li><i class="bi bi-check-circle"></i>Chez les personnes âgées, les chutes entrainent de nombreuses fractures chaque année. Ces patients représentent d’ailleurs environ la moitié des cas pris en charge en traumatologie</li>
                    </ul>
                    <p>
                        Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                        culpa qui officia deserunt mollit anim id est laborum
                    </p>
                    <h3>Quelles pathologies regroupent la traumatologie ?</h3>
                    <h3>Votre prise en soin traumatologique à Physioperformance : Le But ? les avantages ?</h3>

                </div>
                <div class="image col-lg-4 order-1 order-lg-2" style='background-image: url("assets/img/features.jpg");' data-aos="zoom-in"></div>
            </div>

        </div>
    </section>

{% endblock %}
