<section id="ressouces"
         class="about a-propos"
style="padding-top: 170px;margin-bottom: 7%">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2>Nos ressources</h2>
            <p></p>
        </div>

        <div class="text-center">
            <h3>Mémoire de recherche dans le cadre du diplôme interuniversitaire Paris Descartes.</h3>
            <p>spécialité en kinésithérapie respiratoire et cardiovasculaire</p>
            <p><i>Promotion 2022, reçu avec une note de 17/20.</i></p>
            <a class="offres-btn" target="_blank" href="assets/ressources/memoire.pdf">Consulter le document</a>
        </div>
    </div>
</section>
