  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h3>Centre kiné sport Dieppe </h3>
              <p>
                Adresse 1 <br>
                Complément d'adresse<br><br>
                <strong>Téléphone:</strong> +33X XX XX XX XX<br>
                <strong>Email:</strong> adresse@example.com<br>
              </p>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Liens utiles</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Accueil</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">A propos</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Autre 1</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Autre 2</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Cardiologie</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Pédiatrie</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Soin du sportif</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Pneumologie</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Traumatologie</a></li>
            </ul>
          </div>


        </div>
      </div>
    </div>

    <div class="container">
      <div class="credits">
        Créé par <a href="">BG</a>
      </div>
    </div>

  </footer>
