  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h3>Centre kiné sport Dieppe</h3>
              <p>
                32 Rue Louis Blériot, 76370 Neuville les dieppe<br><br>
                <strong>Téléphone:</strong> 02 35 86 03 25<br>
                <strong>Email:</strong> <a href="mailto:cabinet.kine@cks-dieppe.fr">cabinet.kine@cks-dieppe.fr</a><br>
                <strong>Retrouvez nous sur:</strong> <a href="https://www.facebook.com/profile.php?id=100082850629531"><i style="font-size:2em" class="bi bi-facebook"></i></a><br>
              </p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Nos soins</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="JavaScript:void(0);">Traumatologie</a></li>
{#              <li><i class="bx bx-chevron-right"></i> <a href="{{ path('app_orthopedie') }}">Orthopedie</a></li>#}
{#              <li><i class="bx bx-chevron-right"></i> <a href="{{ path('app_kine_du_sport') }}">Kinésithérapie du sport</a></li>#}
{#              <li><i class="bx bx-chevron-right"></i> <a href="{{ path('app_rehabilitation_cardio_respiratoire') }}">Réhabilitation cardio respiratoire</a></li>#}
{#              <li><i class="bx bx-chevron-right"></i> <a href="{{ path('app_rhumatologie') }}">Rhumatologie</a></li>#}
              <li><i class="bx bx-chevron-right"></i> <a href="JavaScript:void(0);">Orthopedie</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="JavaScript:void(0);">Kinésithérapie du sport</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="JavaScript:void(0);">Réhabilitation cardio respiratoire</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="JavaScript:void(0);">Rhumatologie</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div id="footer-bottom" class="clr no-footer-nav">
      <div id="footer-bottom-inner" class="container clr">
        <div id="copyright" class="clr" role="contentinfo">
          <i>
            ©2022 selarl CKS DIEPPE. Société d’Exercice Libéral à Responsabilité Limitée au capital de 6000 euros.<br>
            Siège social: 32 Rue Louis Blériot 76370, Dieppe<br>
          </i>
        </div>
      </div>
    </div>
  </footer>
