<div id="topbar" class="d-flex align-items-center fixed-top">
  <div class="container d-flex align-items-center justify-content-center justify-content-md-between">
    <div class="align-items-center d-none d-md-flex">
      <i class="bi bi-clock"></i> Lundi au Samedi, 8h00 à 20h00 (Horaires)
    </div>
    <div class="align-items-center d-none d-md-flex">
      <i class="bi bi-clock"></i> 02 35 86 03 25
    </div>
    <div class="align-items-center d-none d-md-flex">
      <i class="bi bi-clock"></i> 32 Rue Louis Blériot, 76370
    </div>
  </div>
</div>
