{% extends 'layouts/base.html.twig' %}

{% block title %}Kine Dieppe - Orthopédie{% endblock %}

{% block body %}
    <section id="features" class="features">
        <div class="container" data-aos="fade-up">
        </div>
    </section>

{% endblock %}
