{% extends 'layouts/base.html.twig' %}

{% block title %}Centre Kiné Sport Dieppe - Rhumatologie{% endblock %}

{% block body %}
    <section id="features" class="features">
        <div class="container" data-aos="fade-up">
        </div>
    </section>
{% endblock %}
