{% extends 'layouts/base.html.twig' %}

{% block title %}Centre Kiné Sport Dieppe - Traumatologie{% endblock %}

{% block body %}
    <section id="features" class="features" style="padding-top: 150px;">
        <div class="container" data-aos="fade-up">

        </div>
    </section>

{#    <div class="container contact">#}
{#        <div class="row mt-5 mb-5">#}
{#            <div class="col-lg-3">#}
{#            </div>#}
{#            <div class="col-lg-6">#}
{#                <form action="forms/contact.php" method="post" role="form" class="php-email-form">#}

{#                    <h2>Prise de contact</h2>#}
{#                    <div class="row">#}
{#                        <div class="col form-group">#}
{#                            <input type="text" name="name" class="form-control" id="name" placeholder="Nom prénom"#}
{#                                   required>#}
{#                        </div>#}
{#                        <div class="col form-group">#}
{#                            <input type="email" class="form-control" name="email" id="email" placeholder="Votre email"#}
{#                                   required>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="form-group mt-3">#}
{#                        <input type="text" class="form-control" name="subject" id="subject" placeholder="Traumatologie : "#}
{#                               required>#}
{#                    </div>#}
{#                    <div class="form-group mt-3">#}
{#                        <textarea class="form-control" name="message" rows="5" placeholder="Message"#}
{#                                  required></textarea>#}
{#                    </div>#}
{#                    <div class="my-3">#}
{#                        <div class="loading">Loading</div>#}
{#                        <div class="error-message"></div>#}
{#                        <div class="sent-message">Your message has been sent. Thank you!</div>#}
{#                    </div>#}

{#                    <input type="text" name="phone" class="form-control phone" id="phone" placeholder="Téléphone">#}

{#                    <div class="text-center">#}
{#                        <button type="submit">Envoyer</button>#}
{#                    </div>#}
{#                </form>#}
{#            </div>#}
{#            <div class="col-lg-3">#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{% endblock %}
