{% extends 'layouts/base.html.twig' %}

{% block title %}CKS Dieppe - Traumatologie{% endblock %}

{% block body %}
    <section id="features" class="features" style="padding-top: 150px;">
        <div class="container" data-aos="fade-up">
            <div class="row about">
                <div class="col-lg-8 order-2 order-lg-1 content aos-init aos-animate" data-aos="fade-right">
                    <h1>Traumatologie à Rouen</h1>
                    <h2>Soin d'entorse, luxation, tendinite, lésions musculaires…</h2>
                    <h3>Qu’est-ce que la traumatologie ?</h3>
                    <p>
                        <strong>
                            La traumatologie est une spécialité médicale consacrée aux traumatismes physiques, c’est-à-dire aux coups, blessures ou chocs subis de façon violente et soudaine.
                        </strong>
                    </p>
                    <p>
                        La traumatologie est rattachée à la chirurgie orthopédique et la chirurgie traumatologique, puisque les blessures graves relèvent de la chirurgie. Elle peut aussi relever de la médecine d’urgence, car bon nombre de traumatisés entrent à l’hôpital par cette voie.
                        Chaque année en France, plus de 6 millions de personnes sont prises en charge par les chirurgiens orthopédistes et traumatologues.
                    </p>
                    <p class="fst-italic">
                        NB : Les blessures sont évidemment très variées et peuvent concerner toutes les parties du corps.
                    </p>
                    <ul>
                        <li><i class="bi bi-check-circle"></i>Parmi les blessures les plus fréquentes, celles liées au sport sont responsables d’environ 2 millions d’entrées aux urgences en France chaque année.</li>
                        <li><i class="bi bi-check-circle"></i>Les accidents de voiture sont également de gros pourvoyeurs de blessés graves, tout comme les accidents domestiques ou professionnels.</li>
                        <li><i class="bi bi-check-circle"></i>Chez les personnes âgées, les chutes entrainent de nombreuses fractures chaque année. Ces patients représentent d’ailleurs environ la moitié des cas pris en charge en traumatologie</li>
                    </ul>
                    <p>
                        Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                        culpa qui officia deserunt mollit anim id est laborum
                    </p>
                    <h3>Quelles pathologies regroupent la traumatologie ?</h3>
                    <h3>Votre prise en soin traumatologique à Physioperformance : Le But ? les avantages ?</h3>

                </div>
                <div class="image col-lg-4 order-1 order-lg-2" style='background-image: url("assets/img/features.jpg");' data-aos="zoom-in"></div>
            </div>

        </div>
    </section>


    <div class="container contact">
        <div class="row mt-5 mb-5">
            <div class="col-lg-3">
            </div>
            <div class="col-lg-6">
                <form action="forms/contact.php" method="post" role="form" class="php-email-form">

                    <h2>Prise de contact</h2>
                    <div class="row">
                        <div class="col form-group">
                            <input type="text" name="name" class="form-control" id="name" placeholder="Nom prénom"
                                   required>
                        </div>
                        <div class="col form-group">
                            <input type="email" class="form-control" name="email" id="email" placeholder="Votre email"
                                   required>
                        </div>
                    </div>
                    <div class="form-group mt-3">
                        <input type="text" class="form-control" name="subject" id="subject" placeholder="Traumatologie : "
                               required>
                    </div>
                    <div class="form-group mt-3">
                        <textarea class="form-control" name="message" rows="5" placeholder="Message"
                                  required></textarea>
                    </div>
                    <div class="my-3">
                        <div class="loading">Loading</div>
                        <div class="error-message"></div>
                        <div class="sent-message">Your message has been sent. Thank you!</div>
                    </div>

                    <input type="text" name="phone" class="form-control phone" id="phone" placeholder="Téléphone">

                    <div class="text-center">
                        <button type="submit">Envoyer</button>
                    </div>
                </form>
            </div>
            <div class="col-lg-3">
            </div>
        </div>
    </div>
{% endblock %}
