<section id="about"
         class="about a-propos"
style="padding-top: 150px;">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2>&Agrave; propos</h2>
            <p>La masso-kinésithérapie (physiotherapy) est une discipline de santé, une science clinique de l’humain et un art.<br>
                Elle est centrée sur le mouvement et l’activité de la personne.<br><br>
                La masso-kinésithérapie, exercée dans un but thérapeutique ou non, intervient à partir d’un
                diagnostic kinésithérapique et de l’évaluation concomitante à l’acte, notamment au moyen de
                techniques éducatives, manuelles et instrumentales. Elle favorise le maintien ou l’amélioration de
                la santé physique, psychique et sociale, la gestion du handicap et le mieux-être des personnes.<br><br>
                Le cabinet propose un ensemble de soins thérapeutiques conventionnés dans un cadre privilégié.</p>
        </div>
        <div class="row">
            <div class="col-lg-6" data-aos="fade-right">
                <img src="assets/img/CKS-Dieppe-institut.png" loading="lazy" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 content" data-aos="fade-left">
                <div class="container">
                    <div class="row mb-3">
                        <div class="col-md-6 col-lg-6 d-flex align-items-stretch mb-5 mb-lg-0">
                            <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                                <div class="icon"><i class="fas fa-layer-group"></i></div>
                                <h4 class="title">196M² D’ESPACE</h4>
                                <p class="description">Centre aux normes PMR (Personne à Mobilité Réduite).</p>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 d-flex align-items-stretch mb-5 mb-lg-0">
                            <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                                <div class="icon"><i class="fas fa-table"></i></div>
                                <h4 class="title">SALLES INDIVIDUELLES</h4>
                                <p class="description">Pour le confort et la qualité de
                                    vos soins.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-lg-6 d-flex align-items-stretch mb-5 mb-lg-0">
                            <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                                <div class="icon"><i class="fas fa-map"></i></div>
                                <h4 class="title">FACILITÉ D’ACCÈS</h4>
                                <p class="description">Espace Eurochannel - Grand parking à disposition</p>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 d-flex align-items-stretch mb-5 mb-lg-0">
                            <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                                <div class="icon"><i class="fas fa-atom"></i></div>
                                <h4 class="title">ÉQUIPEMENTS DE POINTE</h4>
                                <p class="description">Onde de chocs, cryothérapie, elliptique…</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
