<section id="actus" class="actus section-bg">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2>Notre actualité</h2>
            <p>Vous pouvez consulter nos mémoires et nos articles <strong><a href="" title="Nos articles">ICI</a></strong></p>
        </div>
    </div>
</section>
