<section id="services" class="services">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2>Nos soins</h2>
            <p>
                Nos kinésithérapeutes diplômés d’état vous prennent en soin au centre.
                Nos formations spécialisées nous permettent après expertise de traiter de la meilleure des façons votre pathologie.<br>
                Nos champs d’application sont représentés ci-dessous :
            </p>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon"><i class="fas fa-head-side-virus"></i></div>
                <h4 class="title"><a href="JavaScript:void(0);">Traumatologie</a></h4>
            </div>
            <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="200">
                <div class="icon"><i class="fas fa-crutch"></i></div>
{#                <h4 class="title"><a href="{{ path('app_orthopedie') }}">Orthopédie</a></h4>#}
                <h4 class="title"><a href="JavaScript:void(0);">Orthopédie</a></h4>
            </div>
            <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="200">
                <div class="icon"><i class="fas fa-swimming-pool"></i></div>
{#                <h4 class="title"><a href="{{ path('app_kine_du_sport') }}">Kinésithérapie du sport</a></h4>#}
                <h4 class="title"><a href="JavaScript:void(0);">Kinésithérapie du sport</a></h4>
            </div>
            <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="300">
                <div class="icon"><i class="fas fa-heartbeat"></i></div>
{#                <h4 class="title"><a href="{{ path('app_rehabilitation_cardio_respiratoire') }}">Réhabilitation cardio respiratoire (BPCO)</a></h4>#}
                <h4 class="title"><a href="JavaScript:void(0);">Réhabilitation cardio respiratoire (BPCO)</a></h4>
            </div>
            <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon"><i class="fas fa-virus"></i></div>
{#                <h4 class="title"><a href="{{ path('app_rhumatologie') }}">Rhumatologie</a></h4>#}
                <h4 class="title"><a href="JavaScript:void(0);">Rhumatologie</a></h4>
            </div>
        </div>

        <div class="gallery-slider swiper">
            <div class="swiper-wrapper align-items-center">
                <div class="swiper-slide"><a class="gallery-lightbox" href="assets/img/centre/cabinet-1.jpeg"><img src="assets/img/centre/cabinet-1.jpeg" class="img-fluid" alt="Photo cabinet 1"></a></div>
                <div class="swiper-slide"><a class="gallery-lightbox" href="assets/img/centre/cabinet-2.jpeg"><img src="assets/img/centre/cabinet-2.jpeg" class="img-fluid" alt="Photo cabinet 2"></a></div>
                <div class="swiper-slide"><a class="gallery-lightbox" href="assets/img/centre/cabinet-3.jpeg"><img src="assets/img/centre/cabinet-3.jpeg" class="img-fluid" alt="Photo cabinet 3"></a></div>
                <div class="swiper-slide"><a class="gallery-lightbox" href="assets/img/centre/cabinet-4.jpeg"><img src="assets/img/centre/cabinet-4.jpeg" class="img-fluid" alt="Photo cabinet 4"></a></div>
                <div class="swiper-slide"><a class="gallery-lightbox" href="assets/img/centre/cabinet-5.jpeg"><img src="assets/img/centre/cabinet-5.jpeg" class="img-fluid" alt="Photo cabinet 5"></a></div>
                <div class="swiper-slide"><a class="gallery-lightbox" href="assets/img/centre/cabinet-6.jpeg"><img src="assets/img/centre/cabinet-6.jpeg" class="img-fluid" alt="Photo cabinet 6"></a></div>
            </div>
        </div>
    </div>
</section>
