<section id="offres" class="offres">
    <div class="container aos-init aos-animate" data-aos="zoom-in">
        <div class="text-center">
            <h3>Nous accueillons des stagiaires kinésithérapeutes</h3>
            <p>Pour toute demande de stage, merci d’adresser par email un CV et une lettre de motivation</p>
            <a class="offres-btn scrollto" href="mailto:cabinet.kine@cks-dieppe.fr">cabinet.kine@cks-dieppe.fr</a>
        </div>
    </div>
</section>