<section id="praticiens" class="praticiens section-bg">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2>Les praticiens</h2>
            <p><strong>Nos praticiens se forment tout au long de leur carrière plusieurs fois par an, et ce dans tous
                    les domaines de la kinésithérapie.<br></strong>
                <i>Se développer via la formation continue permet d’optimiser la
                    qualité des soins selon les preuves scientifiques actualisées.</i></p>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 align-items-stretch">
                <div class="member" data-aos="fade-up" data-aos-delay="200">
                    <div class="member-img">
                        <img src="assets/img/praticiens/conseil_ordre_masseurs_kine.jpg" loading="lazy" class="img-fluid" alt="">
{#                        <div class="social">#}
{#                            <a href=""><i class="bi bi-linkedin"></i></a>#}
{#                        </div>#}
                    </div>
                    <div class="member-info">
                        <h4>Masse Marion</h4>
                        <span><strong>Diplomée en juin 2008 Master 1 en Masso-Kinésithérapie, <br>
Formation « éducation thérapeutique du patient » 42h IREPS, Rouen, Mai 2016.<br>
Certifiée Ecole du dos</strong></span>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 align-items-stretch">
                <div class="member" data-aos="fade-up" data-aos-delay="100">
                    <div class="member-img">
                        <img src="assets/img/praticiens/conseil_ordre_masseurs_kine.jpg" loading="lazy" class="img-fluid" alt="">
{#                        <div class="social">#}
{#                            <a href=""><i class="bi bi-linkedin"></i></a>#}
{#                        </div>#}
                    </div>
                    <div class="member-info">
                        <h4>Moreau Sacha</h4>
                        <span><strong>Masseur kinésithérapeute diplomé d’état en juin 2013 à l’institut de formation de Rouen,<br>
                                Certifié en thérapie manuelle neuro-orthopédique</strong></span>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 align-items-stretch">
                <div class="member" data-aos="fade-up" data-aos-delay="100">
                    <div class="member-img">
                        <img src="assets/img/praticiens/conseil_ordre_masseurs_kine.jpg" loading="lazy" class="img-fluid" alt="">
{#                        <div class="social">#}
{#                            <a href=""><i class="bi bi-linkedin"></i></a>#}
{#                        </div>#}
                    </div>
                    <div class="member-info">
                        <h4>Brieuc Burette</h4>
                        <span><strong>Masseur kinésithérapeute Diplômé en juin 2020</strong></span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
