<section id="featured-services" class="featured-services">
    <div class="container" data-aos="fade-up">

        <div class="row">
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                    <div class="icon"><i class="fas fa-heartbeat"></i></div>
                    <h4 class="title"><a href="">270M² D’ESPACE</a></h4>
                    <p class="description">Centre aux normes PMR (Personne à Mobilité Réduite).</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                    <div class="icon"><i class="fas fa-pills"></i></div>
                    <h4 class="title"><a href="">12 SALLES INDIVIDUELLESs</a></h4>
                    <p class="description">Pour le confort et l’intimité de vos soins.</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                    <div class="icon"><i class="fas fa-thermometer"></i></div>
                    <h4 class="title"><a href="">FACILITÉ D’ACCÈ</a></h4>
                    <p class="description">T2 (arrêt Châtelet), accès N28, et parking / accès PMR./p>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                    <div class="icon"><i class="fas fa-dna"></i></div>
                    <h4 class="title"><a href="">ÉQUIPEMENTS DE POINTE</a></h4>
                    <p class="description">Onde de chocs, cryothérapie, elliptique…</p>
                </div>
            </div>

        </div>

    </div>
</section><
